﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Store_Front.aspx.cs" Inherits="Store_proj.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <link href="Content/alt_style.css" rel="stylesheet" />


</asp:Content>



<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="container">
        <div class="jumbotron">
            <hr />
                <h1 style="text-align: center;">Shop your next fix</h1>
            <hr />

        </div>

    </div>
    <div class="container">
        <span class="fontawesome-search">Search: <input type="search" style="width: 180px" /></span>
    </div>
    <br />
    <div class="container">
       <div class="leftbar">
            <div class="col-lg-10">
                <ul>
                    <li>Proteins & shakes</li>
                    <li>equipment</li>
                    <li>Workout Clothes</li>
                </ul>
            </div>
       </div>

        <div class="row">
            <div class="col-lg-10">
                <h1 class="page-header">Shop Stuffs</h1>
            </div>

            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>

            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-md-5 col-xs-5 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/whey.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    
    <div class="rightbar">
    
    </div>
    



</asp:Content>
