﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TermProject._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    
    <section class="no-margin">
        <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>

        <div class="jumbotron" style="background-image: url(gym.jpg)" " >
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-lg">Take a Tour &raquo;</a></p>
    </div>

    </section>

    <div class="row">
       
       
    </div>

</asp:Content>
