﻿@charset "utf-8";
body  {
    background-image: url('background.jpg');
    background-color: #cccccc;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#navigation
{
	width: 100%;
	height: 5%;
	font-size: 12px;
	font-family: helvetica;
	font-weight: bold;
	text-align:center;
	text-shadow:3px 2px 3px #333333;
	border-radius: 8px;
	background-color: #06C;
}
#navigation ul
{
	height:auto;
	padding: 1% 0px;
	margin:0px;
}
#navigation li
{
	display:inline;
	padding:3%;
}
#navigation a
{
	text-decoration:none;
	color:#FFF;
	padding: 8px 8px 8px 8px;
}
#navigation a:hover
{
	color:#000;
	background-color:#FFF;
}
#navigation2
{
	width: 70%;
	height: 4%;
	font-size: 11px;
	font-family: helvetica;
	font-weight: bold;
	text-align:center;
	text-shadow:3px 2px 3px #333333;
	border-radius: 8px;
	background-color: #06C;
    display: table;
    margin: 0 auto;
}
#navigation2 ul
{
	height:auto;
	padding: 1% 0px;
	margin:0px;
}
#navigation2 li
{
	display:inline;
	padding:3%;
}
#navigation2 a
{
	text-decoration:none;
	color:#FFF;
	padding: 8px 8px 8px 8px;
}
#navigation2 a:hover
{
	color:#000;
	background-color:#FFF;
}