﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.centbar {

    margin: 0 auto;
    height:750px;
}

.leftbar {
    float: left;
    margin: 0 15px 0 15px;
    padding-top: 150px;
    height:750px;


}

.rightbar {
    float: right;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 20px;
    height:750px;
}